.our-client
	padding-top: 60px
	padding-bottom: 60px
	&-block
		width: 228px
		height: 130px
		border: 2px solid #e5e5e5
		margin-bottom: 30px
		align-items: center
		display: flex
		justify-content: center
		&-wrap
			display: flex
	

	


